<div class="container">
    Counter Works

    <p class="display-4 text-center">
        Counter:{{counter}}
    </p>
    <hr>

    <button class=" btn btn-primary" (click)="onIncrement()">
        <h3>Increment By 1</h3>
    </button>
    <button class="btn btn-danger" (click)="onDecrement()">
        <h3>Decrement By 1</h3>
    </button>
    <button class="btn btn-warning" (click)="onAdd(100)">
        <h3>Add 100</h3>
    </button>
    <button class="btn btn-success" (click)="onSub(5)">
        <h3>Sub-5</h3>
    </button>




</div>